body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #c5e2ff, #f4f4f7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN BOX */
.main-box {
    width: 700px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* LEFT */
.left img {
    width: 50px;
}

.left h2 {
    margin-top: 15px;
}

/* RIGHT */
.right {
    width: 50%;
}

.input-box {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
.btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #1a73e8;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: #1558b0;
}

/* ERROR */
.error {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}