.dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}
.finance-box {
    background-color: #fff4e6;
}

.skills-box {
    background-color: #e0f7fa;
}

.health-box {
    background-color: #fce4ec;
}
.skills-section {
    background: #e0f7fa;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

#skillList li {
    background: #ffffff;
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}