.health-box {
    background-color: #fce4ec;   /* pastel pink */
    padding: 30px;
    border-radius: 20px;
    width: 600px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.health-box h2 {
    color: #d81b60;
}

.health-box li {
    background: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.health-box:hover {
    transform: translateY(-5px);
}