body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f4f4f7, #c5e2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN BOX */
.box {
    width: 680px;
    height: 250px;
    margin: 80px auto;
    background: rgb(252, 252, 255);
    border-radius: 12px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left {
    width: 45%;
}

.logo {
    width: 46px;
    margin-bottom: 20px;
}

.left h2 {
    margin: 10px 0;
}

.left p {
    color: gray;
}

/* RIGHT SIDE */
.right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

/* BUTTON */
.next-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
    align-self: flex-end;   /* 🔥 moves button to right */
}

.next-btn:hover {
    background: #1e40af;
}