<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Right-Track</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

    <nav>
    <h2>Right-Track</h2>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('skills') }}">Skills</a></li>
        <li><a href="{{ url_for('finance') }}">Finance</a></li>
        <li><a href="{{ url_for('health') }}">Health</a></li>
    </ul>
</nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/skills.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>

</body>
</html>