 <!DOCTYPE html>
<html>
<head>
    <title>TimeTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to TimeTrack 🚀</h1>
        <p>Right Things at the Right Age</p>
        <a href="/dob"><button>Get Started</button></a>
    </div>
</body>
</html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">